<h2>Game Grid</h2>
<table cellspacing='0px'>
<tr>
<%var a = 0; var r = 1; for(var i = 0; i < tokens.length ; i++){ a++; %>
    <%if( a == 6 ) { a = 1; r++; %> </tr><tr> <%}%>
	<td <%= tokens[i]%>>
		<%= $.View('//spools/views/token/icon',tokens[i])%>
	</td>
<%}%>
</tr></table>