<%for(var attribute in this.Class.attributes){%>
    <%if(attribute == 'id') continue;%>
    <%if(attribute == 'idPlayer') {%>
         <input type="hidden" value="<%= idPlayer %>" name="idOwner"/>
    <%}%>
    <%if(attribute == 'idOwner') {%>
       <%if (this[attribute] == 'game') {%>
          <a href='javascript://' class='pick'><%= this.state %></a>
       <%}else{%> <%= this[attribute]%> <%}%>
    <%}%>
<%}%>