<%for(var attribute in this.Class.attributes){%>
    <%if(attribute == 'id') continue;%>
    <%if(attribute == 'idOwner') {%>
        <span class='<%= attribute%>'>
            <%if (this[attribute] == 'game') {%>
                <input type="hidden" value="CAT" name="idOwner"/>
                <a href='javascript://' class='pick'>PickMe</a>
            <%}else{%> <%= this[attribute]%> <%}%>
        </span>
    <%}%>
<%}%>