/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
	=font-weight: expression(this.__FW?this.__FW:(new Function('t','return (t.__FW=t.parentNode.currentStyle.fontWeight)'))(this));
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
	=font-style: expression(this.__FS?this.__FS:(new Function('t','return (t.__FS=t.parentNode.currentStyle.fontStyle)'))(this));
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
	=font-family: expression(this.__FF?this.__FF:(new Function('t','return (t.__FF=t.parentNode.currentStyle.fontFamily)'))(this));
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.5;
}
/*+}*/
/*spools.css Chris Trees 20110822 merge Joe*/
.boardSection
{
	background-image: url(resources/games_spools_bg.png);
	background-repeat: no-repeat;
	border: 6px solid #000000;
	width: 334px;
	height: 334px;
}
#PGSpoolsTable
{
	/*+placement:anchor-bottom-right 0px 0px;*/
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin: 17px 19px 15px 9px;
	text-align: center;
}
.PGSpoolsScoreVert
{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	max-height: 10px;
	max-width: 20px;
	text-align: center;
}
.PGSpoolsScoreHoriz
{
	text-align: center;
}
.PGGrid
{
	min-height: 46px;
	min-width: 45px;
	width: 45px;
	height: 46px;
	text-align: center;
}
.PGSpoolsTableTeamLeft
{
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	width: 0px;
	height: 0px;
	max-height: 10px;
	max-width: 30px;
}
.PGSpoolsTableTeamTop
{
	text-align: center;
}
